.header img{
    
    height: 200px;
    width: 400px;
    align-content: center;
    
    
}
.header{
    text-align: center;
}
.header h2{
    color: green;
    font-size: 800;
    font-style: italic;
}

.header nav{
    line-height: 40px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
} 
nav a:hover{
    background-color: rgb(101, 205, 246);
    color: black;
}

